<launch>
    <node pkg="explore3d" type="explore3d" respawn="false" name="exploration_planner" output="screen">
        <rosparam file = "$(find explore3d)/config/explore-3d_config.yaml" command="load"/>
        <remap from="combined_pose" to="robot_poses"/>
        <remap from="combined_map" to="merged_map"/>
        <remap from="goal_list" to="robot_goals"/>
    </node>
</launch>
